.gradient-mask {
	mask-image:
		linear-gradient(to left, black, 97%, transparent),
		linear-gradient(to right, black, 97%, transparent);
	mask-position:
		left center,
		right center;
	mask-size: 50% 100%;
	mask-repeat: no-repeat;
}
