.card {
	height: 100%;
	background-size: cover;
	background-position: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: filter 0.1s;
}

.card:hover {
	filter: brightness(0.7);
}

.title {
	font-family: Outfit, sans-serif;
	font-weight: 600;
	color: var(--mantine-color-white);
	line-height: 1.2;
	font-size: 32px;
	margin-top: var(--mantine-spacing-xs);
}
